<nav style="padding: 10px;" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <span><a style="padding: 10px;" class="navbar-brand" href="#">NIIT</a></span>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-left: 550px;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/viewCourses']">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link " [routerLink]="['/viewCourses']">View Courses</a>
        <a class="nav-item nav-link" [routerLink]="['/viewAdm']">View Admission</a>
        <a class="nav-item nav-link" [routerLink]="['enquiryForm']">Add Enquiry</a>
        <a class="nav-item nav-link" href="#">View Enquiries</a>`
        <a class="nav-item nav-link" href="#">Logout</a>
      </div>
    </div>
  </nav>

<!-- <app-create-admissions></app-create-admissions>
<app-view-admissions></app-view-admissions> -->

<!-- <app-view-enquiries></app-view-enquiries> -->
<!-- <app-enquiry-form></app-enquiry-form>  -->
