<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  
          <div class="mb-3">
            <label for="enquiryDate">Enquiry Date:</label>
            <input type="date" id="enquiryDate" formControlName="enquiryDate" class="form-control" required>
            <div *ngIf="enquiryForm.get('enquiryDate').hasError('required') && enquiryForm.get('enquiryDate').touched" class="invalid-feedback">Enquiry Date is required.</div>
          </div>
  
          <div class="mb-3">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" class="form-control" required>
            <div *ngIf="enquiryForm.get('title').hasError('required') && enquiryForm.get('enquiryDate').touched" class="invalid-feedback">Title is required.</div>
          </div>
  
          <div class="mb-3">
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description" class="form-control" required></textarea>
            <div *ngIf="enquiryForm.get('description').hasError('required') && enquiryForm.get('description').touched" class="invalid-feedback">Description is required.</div>
          </div>
  
          <div class="mb-3">
            <label for="email">Email ID:</label>
            <input type="email" id="email" formControlName="email" class="form-control" required>
            <div *ngIf="enquiryForm.get('email').hasError('required')" class="invalid-feedback">Valid Email ID is required.</div>
            <div *ngIf="enquiryForm.get('email').hasError('email')" class="invalid-feedback">Enter a valid email address.</div>
          </div>
  
          <div class="mb-3">
            <label for="enquiryType">Enquiry Type:</label>
            <select id="enquiryType" formControlName="enquiryType" class="form-control" required>
              <option *ngFor="let type of enquiryTypes" [value]="type">{{ type }}</option>
            </select>
            <div *ngIf="enquiryForm.get('enquiryType').hasError('required')" class="invalid-feedback">Enquiry Type is required.</div>
          </div>
  
          <div class="mb-3">
            <label for="courseName">Course Name:</label>
            <select id="courseName" formControlName="courseName" class="form-control" required>
              <option *ngFor="let course of courseNames" [value]="course">{{ course }}</option>
            </select>
            <div *ngIf="enquiryForm.get('courseName').hasError('required')" class="invalid-feedback">Course Name is required.</div>
          </div>
  
          <button type="submit" class="btn btn-primary" [disabled]="enquiryForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>