<h2>List of all Employees</h2>

<table class="table table-striped">
    <tr>
        <th>Employee Name</th>
        <th>Departement Name<th>
        <th>Designation</th>
        <th>Salary</th>
        <th>joinDate</th>
        <th>actions</th>
    </tr>
    <tr *ngFor="let data of empdata">
        <td>{{data.employeeName}}</td>
        <td>{{data.department}}</td>
        <td>{{data.designationName}}</td>
        <td>{{data.salary}}</td>
        <td>{{data.joindate}}</td>
        
    </tr>
</table>
