<div style="padding: 100px;">
  <div style="border-style: groove; border-radius: 5px;">
    <table  class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Admission ID</th>
          <th scope="col">Course Name</th>
          <th scope="col"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adm of admData">
          <td>{{adm.admissionId}}</td>
          <td>{{adm.courseName}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>