<div style="padding: 80px;">
    <div style="border-style: groove;border-radius: 5px;">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Duration</th>
            <th scope="col">Fees Amount</th>
            <th scope="col">Action</th>
           
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td >{{course.courseName}}</td>
                <td>{{course.description}}</td>
                <td>{{course.duration}}</td>
                <td>{{course.feesAmount}}</td>
                <td>
                    <button type="submit" (click)="submitAdmission()" class="btn btn-dark" [routerLink]="['/admForm/',course.courseID]">Apply Admission</button>
                </td>
                
            </tr>
        </tbody>
      </table>
    </div>
    </div>