<!-- <form [formGroup] = "loginform" (ngSubmit)="loginuser()">
  <label>Name</label>
  <input name="name" type="text" formControlName="user"/>
  <span style="color: brown;" *ngIf="user && user.invalid && user.touched">Enter valid input</span>
  <br>
  <label>Password</label>
  <input name="password" type="text" formControlName="password"/>
  <span *ngIf="password && password.invalid && password.touched">Enter valid input</span>
  <br>
  <button>login</button>
</form> -->

<form #loginform="ngForm" (ngSubmit)="handlesave(loginform)">
  <label>Name</label>
  <input name="name" type="text" ngModel/>
  <br>
  <label>Password</label>
  <input name="password" type="text" ngModel/>
  <br>
</form>