<div style="padding-left: 150px;padding-right: 150px;padding-top: 50px; padding-bottom: 50px;">
    <h2 style="font-family: 'Times New Roman', Times, serif;"><b>Admission Form</b></h2>
    <br>


    <form style="padding: 40px; border-style: groove; border-radius: 5px;" [formGroup]="AdmissionForm" (ngSubmit)="onSubmit()">

        <div>

            <div>
                <label for="userId">User ID</label>
                <input type="number" [(ngModel)]="userId" id="userId" formControlName="userId" class="form-control" readonly required>
                <div
                    *ngIf="AdmissionForm.get('userId').hasError('required') && AdmissionForm.get('userId').touched">
                    User ID is required.</div>
            </div>
            <br>

            <div>
                <label for="courseId">Course Name:</label>
                <input type="string" readonly [(ngModel)]="course.courseName" id="c_name" formControlName="courseId" class="form-control" required>
                
                <div style="color: red;" *ngIf="AdmissionForm.get('c_name').hasError('required')"
                    class="invalid-feedback">Course Name is required.</div>
            </div>
            <br>

            <div>
                <label for="feesAmount">Total Amount:</label>
                <input id="amount" [(ngModel)]="course.feesAmount" formControlName="feesAmount" class="form-control" required>
                <!-- <div style="color: red;"
                    *ngIf="AdmissionForm.get('').hasError('required') && AdmissionForm.get('feesAmount').touched">
                    Total Amount is required.</div> -->
            </div>
            <br>

            <!-- <div>
                <label for="mode">Payment Mode:</label>
                <input type="string" [(ngModel)]="dmode" id="mode" formControlName="mode" class="form-control" required>
                
                <div style="color: red;" *ngIf="AdmissionForm.get('mode').hasError('required')"
                    class="invalid-feedback">Course Name is required.</div>
            </div>
            <br> -->

            <div>
                <label for="mode">Mode of Payment:</label>
                <select id="mode" name="mode" formControlName="mode" class="form-control" required>
                    <option *ngFor="let mode of modes">{{ mode }}</option>
                </select>
                <div style="color: red;" *ngIf="AdmissionForm.get('mode').hasError('required')"
                    class="invalid-feedback">Mode of Payment is required.</div>
            </div>
            <br>

            <div>
                <label for="paymentDate">Payment Date:</label>
                <input type="date" id="paymentDate" name="paymentDate" formControlName="paymentDate" class="form-control" required/>
                <div style="color: red;"
                    *ngIf="AdmissionForm.get('paymentDate').hasError('required') && AdmissionForm.get('paymentDate').touched">
                    PaymentDate is required.</div>
            </div>
            <br>

            <button type="submit" class="btn btn-dark" [disabled]="AdmissionForm.invalid">Make Payment</button>
        </div>

    </form>

</div>