<div style="padding-left: 150px;padding-right: 150px;padding-top: 50px; padding-bottom: 50px;">
    <h2 style="font-family: 'Times New Roman', Times, serif;"><b>Admission Form</b></h2>
    <br>


    <form style="padding: 40px; border-style: groove; border-radius: 5px;" [formGroup]="AdmissionForm" (ngSubmit)="onSubmit(enquiryForm)">

        <div>

            <div>
                <label for="userId">User ID</label>
                <input type="number" id="userId" formControlName="userId" class="form-control" required>
                <div
                    *ngIf="enquiryForm.get('userId').hasError('required') && enquiryForm.get('userId').touched">
                    User ID is required.</div>
            </div>
            <br>

            <div>
                <label for="courseName">Course Name:</label>
                <select id="courseName" name="courseName" formControlName="courseName" class="form-control" required>
                    <option *ngFor="let course of courseData" [value]="course">{{ course.courseName }}</option>
                </select>
                <div style="color: red;" *ngIf="enquiryForm.get('courseName').hasError('required')"
                    class="invalid-feedback">Course Name is required.</div>
            </div>
            <br>

            <div>
                <label for="amount">Total Amount:</label>
                <input id="amount" name="amount" formControlName="amount" class="form-control"
                    required></input>
                <div style="color: red;"
                    *ngIf="enquiryForm.get('amount').hasError('required') && enquiryForm.get('amount').touched">
                    Total Amount is required.</div>
            </div>
            <br>

            <div>
                <label for="mode">Mode of Payment:</label>
                <select id="mode" name="mode" formControlName="mode" class="form-control" required>
                    <option *ngFor="let mode of modes" [value]="mode">{{ mode }}</option>
                </select>
                <div style="color: red;" *ngIf="enquiryForm.get('mode').hasError('required')"
                    class="invalid-feedback">Mode of Payment is required.</div>
            </div>
            <br>

            <div>
                <label for="paymentDate">Total Amount:</label>
                <input id="paymentDate" name="paymentDate" formControlName="paymentDate" class="form-control"
                    required></input>
                <div style="color: red;"
                    *ngIf="enquiryForm.get('paymentDate').hasError('required') && enquiryForm.get('paymentDate').touched">
                    PaymentDate is required.</div>
            </div>
            <br>

            <button type="submit" class="btn btn-dark" [disabled]="enquiryForm.invalid">Make Payment</button>
        </div>

    </form>

</div>